@import 'fonts.css';
body {
    font-family: 'Open Sans Semibold';
    background: gray;
}


/*Меню*/

.menu-bar {
    background: #fff;
    padding: 20px 0;
    color: #2B2F2F;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    text-decoration: none;
    font-size: 20px;
    color: #2B2F2F;
}

.menu__item a:hover {
    color: #868686;
}


/*Шапка*/

.header>div {
    color: white;
    text-align: center;
    padding-top: 180px;
    background-size: cover;
    background-position: 0 100%;
    background-image: url('/img/header.png');
}

.header__title {
    margin-bottom: 12px;
    font-size: 55px;
}

.header__text {
    margin-bottom: 100px;
    font-family: 'Open Sans Regular';
    font-size: 22px;
}

.button {
    padding: 20px 40px;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
    color: white;
    background: transparent;
    border: 4px solid white;
}

.button:hover {
    border: 4px solid #00897B;
    background: #00897B;
}

.header__down_bar {
    margin-top: 100px;
}